@model IEnumerable<adogme.Models.ADOPTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FULL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOG.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FULL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOG.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
