@model adogme.Models.DOG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DOG</h4>
    <hr />
    <dl class="dl-horizontal">

        <div class="row">
            <div class="col-md-6">
                <td><img src='@(System.Configuration.ConfigurationManager.AppSettings["URLPublica"] + "/Content/img/dogs/" + Model.PICTURE)' width="150" height="150" /></td>
                <input type="file" name="file" id="file" style="width: 100%;" /> <br /><br />
            </div>
            <div class="col-md-6">
                @if (ViewBag.imageBytes != null)
                {
                    <img width="150" height="150" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
                }
            </div>
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_ADOPTED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_ADOPTED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGISTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGISTER)
        </dd>

       
        <dd>
            @Html.DisplayFor(model => model.PICTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BREED.BREED1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BREED.BREED1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER.GENDER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER.GENDER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE.PLACE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE.PLACE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE.SIZE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE.SIZE1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
