@model IEnumerable<adogme.Models.DOG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_ADOPTED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PICTURE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BREED.BREED1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER.GENDER1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACE.PLACE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIZE.SIZE1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_ADOPTED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PICTURE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BREED.BREED1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER.GENDER1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACE.PLACE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIZE.SIZE1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
