@model adogme.Models.HISTORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HISTORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-6">
                <td><img src='@(System.Configuration.ConfigurationManager.AppSettings["URLPublica"] + "/Content/img/partner/" + Model.PICTURE)' width="150" height="150" /></td>
                <input type="file" name="file" id="file" style="width: 100%;" /> <br /><br />
            </div>
            <div class="col-md-6">
                @if (ViewBag.imageBytes != null)
                {
                    <img width="150" height="150" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
                }
            </div>
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.ADOPTER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADOPTER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HISTORY1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HISTORY1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOG.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOG.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
